body{

    font-family: 'Poppins', sans-serif;
    color: #234b8c;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

}

header{

    display: flex;
    background-color: #234b8c;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}